@page "/counter"
@inject ILogger<Counter> Log

<h1>Counter</h1>
<br/>
<p>Current count: @currentCount</p>
<br/>
<button class="btn btn-primary" @onclick="IncrementCount" disabled="@(!canIncrementCount)">Click me</button>
<br/>
<p>@text</p>
<br/>
<fieldset>
      <p>
         <input type="radio"
                name="import"
                value="on"
                checked="@(_import)"
                @onchange="ImportChanged" />
         Option 1
      </p>
      <p>
         <input type="radio"
                name="noImport"
                value="off"
                checked="@(!_import)"
                @onchange="ImportChanged" />
         Option 2
      </p>
   </fieldset>

@code {
    string text = "Initial";
    int currentCount = 0;
    bool canIncrementCount;
    bool _import;

    protected override async Task OnInitializedAsync()
    {
        //System.Diagnostics.Debugger.Launch();
        text = "OnInitializedAsync";
        await Task.Delay(500);
        currentCount = 5;
        text = "OnInitializedAsync after delay";
        canIncrementCount = true;
        Log.LogDebug("Counter init");
    }

    void IncrementCount()
    {
        currentCount++;
        Log.LogInformation("Counter INC");
    }
 
    void ImportChanged(ChangeEventArgs args)
    {
        _import = args.Value.ToString() == "on";
    }
}
